.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cards{
  width: 30%;
  background-color: green;
  padding: 3em;
  box-shadow: 0 0 3px 4px green;
}

h3{
  text-align: center;
  color: #000;
  margin: 0 0 1.5em;
  text-decoration: underline;
  
}
.cards img{
  width: 50%;
  margin:0 auto;
  display: block;
  animation: rotating 4s linear infinite;
}

@keyframes rotating{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}